.container-fluid {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    padding-left: 70px;
    padding-right: 70px;
}


/* 
section {
    padding-top: 5rem;
}

.textjudul {
    font-family: "poppins", sans-serif;
    color: rgb(6, 251, 206);
    font-weight: 700;
}

.textfrom1 {
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.textfrom2 {
    font-family: "poppins", sans-serif;
    font-size: 14px;
}

.textfrom3 {
    font-family: "poppins", sans-serif;
}

.container {
    padding: 5px;
} */